<div id="<%= dom_id team %>">
  <p>
    <strong>Uuid:</strong>
    <%= team.uuid %>
  </p>

  <p>
    <strong>User:</strong>
    <%= team.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

</div>
