- provide :title, "EV Yields"
-# TODO: - provide :title, "Pokédex"

= form_with url: request.path, method: :get,
            data: { controller: "form-submission",
                    turbo_frame: "results",
                    turbo_action: "advance" } do |f|
  .input-field
    = f.label :q, "Search"
    = f.text_field :q, value: params[:q],
                   data: { action: "input->form-submission#search" }

.results
  = render "results", results: @search_results
