- provide :title, "New User"

-# %p Pick a username to continue!

= form_with(model: @user) do |form|
  = form.hidden_field google_id: @token.user_id
  .input-field
    %label{for: "username"} Username
    = form.text_field :username
  .input-field
    %label{for: "email"} Email Address
    = form.text_field :email, value: @token.email_address
  %button.btn.waves-effect.waves-light{type: "submit", name: "commit"}
    Register
    %i.material-icons.right send
