- provide :title, "PokéLog"

%p
  This will be a landing page if you're not logged in otherwise it'll take you
  straight to your Pokémon. There will be a few paragraphs explaining the app and
  offering a login/registration... for now here's some lorem ipsum. :)
- 2.times do
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed dignissim purus. Ut feugiat nulla et arcu ornare bibendum. In venenatis felis nec diam interdum, id pulvinar eros consequat. Donec non purus blandit, mollis risus sed, ultricies lorem. Aliquam fringilla elit quis maximus euismod. Quisque eu posuere lectus. Donec vel dolor ac leo tempor rhoncus. Nunc quam elit, congue nec libero id, maximus luctus velit. Quisque porta volutpat pellentesque. Maecenas nec bibendum mi. In molestie diam sit amet dolor ornare fringilla. In turpis ex, elementum quis magna id, semper finibus diam. Nunc at enim fringilla, tristique arcu sit amet, facilisis sapien. Morbi a fermentum nisl.
