// Trainees
$sidenav-breakpoint: 992px;
$image-breakpoint: 1824px;
$radar-breakpoint: 663px;

// Species
$species-breakpoint: 509px;

// Items
$items-lg-breakpoint: 2086px;
$items-med-breakpoint: 1339px;
$items-buttons-grid-breakpoint: 1653px;
$items-buttons-text-breakpoint: 547px;
$items-text-wrap-breakpoint: 422px;
