// Trainees
$sidenav-breakpoint: 992px;
$image-breakpoint: 1765px;
$radar-breakpoint: 663px;

// Species
$species-med-breakpoint: 1408px;
$species-sm-breakpoint: 580px;

// Items
$items-lg-breakpoint: 2046px;
$items-med-breakpoint: 1328px;
$items-buttons-breakpoint: 1653px;
$items-text-wrap-breakpoint: 480px;
