%table#trainee-list.highlight
  %tbody
    - trainees.each do |trainee|
      %tr{class: dom_id(trainee)}
        %td.check
          %label
            = check_box_tag "trainee_ids[]", trainee.id
            %span
        %td.sprite
          - if trainee.species
            = trainee.species.sprite
        %td= link_to trainee.title, trainee_path(trainee)
