- provide :title, "Trainees"

= javascript_include_tag "sidenav_init"

- if @trainees.blank?
  %p.grey-text Nothing to show here. Click the + below to get started!
- else
  %table#trainee-list.highlight
    %tbody
      - @trainees.each do |trn|
        %tr{class: dom_id(trn)}
          - if trn.species
            %td.sprite= trn.species.sprite
          - else
            %td
          %td= link_to trn.title, trainee_path(trn)

// + button
= link_to new_trainee_path, id: "new-trainee", class: "btn-floating btn-large waves-effect waves-light red right" do
  %i.material-icons add
