- provide :title, "Trainees"

= javascript_include_tag "sidenav_init"
= javascript_include_tag "trainees_index"

- if @trainees.blank?
  %p.grey-text Nothing to show here. Click the + below to get started!
- else
  = render "list", trainees: @trainees

.align-opposite
  %a#train-btn.waves-effect.waves-light.btn.red.disabled
    %i.material-icons.left fitness_center
    Train

  // + button
  = link_to new_trainee_path, id: "new-trainee", class: "btn-floating btn-large waves-effect waves-light red" do
    %i.material-icons add
