- provide :title, @trainee.nickname || "New Trainee"

.radar-container
  = render "shared/radar_chart", stats: @trainee.evs
  - PokeLog::Stats.new.keys.each do |stat|
    .point{class: stat}
      %input{text: @trainee.send("#{stat}_ev")}
