.modal-footer {
  // Form elements disguised as modal buttons
  input {
    color: #343434;
    cursor: pointer;

    &:disabled {
      color: grey;
      cursor: auto;
    }
  }
}

// PokéPaste modal
#add-pokepaste.modal {
  .input-field.url {
    margin-top: 1.75rem;
  }
}
