@import "include/variables";

.modal-footer {
  // Form elements disguised as modal buttons
  input {
    color: #343434;
    cursor: pointer;

    &:disabled {
      color: grey;
      cursor: auto;
    }
  }
}

// PokéPaste modal
#add-pokepaste.modal {
  overflow-y: hidden;

  @media (max-width: #{$species-breakpoint}) {
    h4 {
      font-size: 2rem;
    }

    input, textarea {
      font-size: 0.75rem;
    }
  }

  .input-field.url {
    margin-top: 1.75rem;
  }

  .input-field.paste textarea {
    margin: 0.5rem 0 2rem 0;
    overflow-y: auto;

    max-height: 50vh;
    @media (max-width: #{$species-breakpoint}) {
      max-height: 40vh;
    }
  }

  .modal-footer {
    position: absolute;
    bottom: 0;
  }
}
