.species-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .input-field {
    flex: 1;
  }

  #filters-btn {
    width: 2.25rem;
    height: 2.25rem;
    i {
      font-size: 1.5rem;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#species-filters {
  overflow-x: hidden;

  h6 {
    margin-bottom: 1rem;
  }

  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #amount-yielded-slider {
    margin: 1.5rem 0;
  }

  .types {
    justify-content: center;
  }
}
