@import "include/variables";

$mnav_size: 64px;

// Offset content from sidebar
header, main, footer {
  padding-left: 300px;
}
// Offset when sidebar is collapsed
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: $mnav_size;
  }
}

.sidenav {
  background-color: $dark_red;

  // Icon/text colors
  li>a {
    color: white;

    >i.material-icons {
      color: grey;
    }
  }

  // Sign in button
  li>a.sign-in {
    text-align: center;
    width: fit-content;
    padding: initial;
    margin: auto;
    margin-bottom: 5px;
  }

  // Line beneath login button/profile widget
  hr {
    border-color: darkred;
    margin: 0 15px 0 15px;
  }
}

// Patch to make li square with the bar
@mixin mnav-height {
  height: $mnav_size;
  line-height: $mnav_size;
}

// Narrow sidenav on mobile
#mnav.sidenav {
  // Don't hide
  transform: translateX(0%) !important;
  width: $mnav_size;

  li>a {
    padding: 0;
    text-align: center;
    @include mnav-height;

    >i {
      @include mnav-height;

      // Center mobile icons
      margin: auto;
      width: $mnav_size;
    }
  }
}

// Elements

#logo-container {
  text-align: center;
  vertical-align: center;
  height: fit-content;
  padding-top: 32px;
}
