$padding: 10px;
$margin: 5px;
$border: 3px solid black;

.results {
  margin-top: $margin;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  .data-entry {
    margin: $margin;

    border-radius: 25px;
    border: $border;

    padding-inline: $padding;

    display: inline-flex;

    width: auto;

    .id {
      display: flex;
      align-items: center;
    }

    .main-content {
      border-left: $border;
      margin-left: $padding;

      justify-content: space-between;

      .top {
        display: flex;
        align-items: center;

        .sprite {
          margin: 0.25em;
        }

        .name-form {
          text-align: center;

          .form {
            font-style: italic;
          }
        }
      }

      .yields, .base-stats {
        display: flex;
        justify-content: space-evenly;

        .stat {
        }

        .hp {
        }
        .atk {
        }
        .def {
        }
        .spa {
        }
        .spd {
        }
        .spe {
        }
      }
    }
  }
}
