@import "include/variables";

$padding: 10px;
$margin: 5px;
$border: 3px solid black;

.results {
  margin-top: $margin;

  // Stops selecting between data cells
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  @media (max-width: #{$species-med-breakpoint}) {
    text-align: center;
  }

  .data-entry {
    // Need to re-enable selecting the text inside the cells
    user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;

    margin: $margin;

    border-radius: 25px;
    border: $border;

    padding-inline: $padding;

    display: inline-flex;
    @media (max-width: #{$species-sm-breakpoint}) {
      display: flex;
      position: relative;
      width: 100%
    }

    width: auto;

    .id {
      display: flex;
      align-items: center;
    }

    .main-content {
      border-left: $border;
      margin-left: $padding;
      justify-content: space-between;

      @media (max-width: #{$species-sm-breakpoint}) {
        display: flex;
        align-items: center;
      }

      .top {
        display: flex;
        align-items: center;

        div.sprite {
          margin: 0.5em;
          width: 56px;
          height: 42px;
        }

        .name-form {
          text-align: center;
          @media (max-width: #{$species-sm-breakpoint}) {
            text-align: left;
          }

          .form {
            font-style: italic;
          }
        }
      }

      .yields {
        display: flex;
        justify-content: space-evenly;
        @media (max-width: #{$species-sm-breakpoint}) {
          display: block;
          position: absolute;
          right: $padding;
        }
      }
    }
  }
}
