@import "include/variables";

.top-nav {
  background-color: $red;
  margin-bottom: 30px;

  #sidenav-expand {
    cursor: pointer;
  }

  #title {
    // Stop from getting cut off too soon
    width: 80%;

    // Switch title for mobile
    @media (max-width: #{$radar-breakpoint}) {
      display: none;
    }
  }
  #title-mobile {
    width: 80%;

    @media (min-width: #{$radar-breakpoint}) {
      display: none;
    }
  }
}
