#new-trainee {
  margin-top: 10px;
}

#trainee-list {
  td {
    position: relative;

    // Make entire area of td clickable
    >a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }

    &.sprite, &.check {
      width: 0;
      min-width: fit-content;
    }
  }
}

.align-opposite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
