@import "include/variables";

.tutorial-img {
  width: 100%;

  @media (min-width: #{$species-breakpoint}) {
    &.mobile {
      display: none;
    }
  }
  @media (max-width: #{$species-breakpoint}) {
    &.full {
      display: none;
    }
  }
}
