@import "include/variables";

@mixin type-style($type) {
  $background-color: map-get($type-colors, $type);

  &.#{$type} {
    background-color: $background-color;
    border: 2px solid darken($background-color, 20%);

    &::before {
      content: "";
      display: inline-block;
      background-image: url("/icons/types/#{$type}.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;

      @media (min-width: #{$species-sm-breakpoint}) {
        margin-right: 0.5em;
      }
    }

    @media (min-width: #{$species-sm-breakpoint}) {
      &::after {
        content: "#{$type}";
        color: white;
      }
    }
  }
}

.type {
  margin: 0 0.1em;
  padding: 0.3em;
  @media (min-width: #{$species-sm-breakpoint}) {
    padding-right: 0.6em;
  }
  display: inline-flex;
  width: auto;
  align-items: center;
  background-repeat: no-repeat;
  background-position: left center;
  border-radius: 0.5em;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;

  &.large {
    font-size: 16px;
  }

  @each $type, $color in $type-colors {
    @include type-style($type);
  }
}
