.footer-copyright
  .container
    .row.center
      .col.xl2.l0
      %p.col.xl8.l12
        © 2023 Vinny Diehl. PokéLog is not affilliated with Nintendo, The Pokémon Company, or any of their subsidiaries. All characters and their names are © and ™ Nintendo. Stat plots by
        = link_to "https://www.anychart.com/", class: "anychart" do
          = image_tag "anychart_logo.png"
          AnyChart
        \.
      .col.xl2.l0
