= javascript_include_tag "sidenav_init"

%ul#mnav.sidenav.sidenav-fixed
  %li.expand
    %a.sidenav-trigger.hide-on-large-only{href: "#", "data-target": "nav-full"}
      %i#sidenav-expand.material-icons menu

%ul#nav-full.sidenav.sidenav-fixed{style: "transform: translateX(0px);"}
  %li.logo.no-hover
    = link_to root_path, id: "logo-container", class: "brand-logo" do
      = image_tag "pokeball.svg", height: 120, id: "front-page-logo"
